/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
web/robots.txt
web/config.php
app/.htaccess
app/AppCache.php
app/AppKernel.php
app/autoload.php
app/cache/.gitkeep
app/config/config.yml
app/config/config_dev.yml
app/config/security.yml
app/config/services.yml
*.php~
*.md
*.php~
*.php~
src/AWBundle/Entity/aw.php~
src/AWBundle/Entity/User.php~
app/check.php
app/config/config_prod.yml
app/config/config_test.yml
app/config/parameters.yml.dist
app/config/routing.yml
app/config/routing_dev.yml
app/console
LICENSE
web/app.php
web/app_dev.php
web/apple-touch-icon.png
composer.lock
app/phpunit.xml.dist
app/SymfonyRequirements.php
app/Resources/views/default/index.html.twig
app/Resources/views/base.html.twig
composer.json
web/.htaccess
app/logs/.gitkeep
src/AWBundle/Entity/aw.php~
*.php~
