
<table>
{% for a in aw %}

  <div class="aw_case">

    {{ a.getAwTitle }}
    {{ a.getAwDate|date('d/m/Y') }}
    <a href="{{ path('_detailAw', {'id': a.getId}) }}"> LINK </a>
  </div>

{% else %}
    Aucun AW n'a été trouvé.

{% endfor %}
</table>
